<section class="l-spacer -primary -bgWhite" id="gallery">
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <div class="flex" data-gutter="normal" data-dir="reverse">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2024」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            {
              [
                {
                  src: "/images/_RB_0594.jpg",
                  srcset: "/images/_RB_0594.jpg 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/_RB_1731.jpg",
                  srcset: "/images/_RB_1731.jpg 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/_RA_0847.jpg",
                  srcset: "/images/_RA_0847.jpg 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/_RB_1735.jpg",
                  srcset: "/images/_RB_1735.jpg 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/_RB_1762.jpg",
                  srcset: "/images/_RB_1762.jpg 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/_RB_1002.jpg",
                  srcset: "/images/_RB_1002.jpg 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/_RB_0798.jpg",
                  srcset: "/images/_RB_0798.jpg 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/_RA_0804.jpg",
                  srcset: "/images/_RA_0804.jpg 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/_RA_0941.jpg",
                  srcset: "/images/_RA_0941.jpg 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/_RB_0872.jpg",
                  srcset: "/images/_RB_0872.jpg 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/_RA_0946.jpg",
                  srcset: "/images/_RA_0946.jpg 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/_RB_1945.jpg",
                  srcset: "/images/_RB_1945.jpg 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/_RB_2076.jpg",
                  srcset: "/images/_RB_2076.jpg 2x",
                  grid: "sp4",
                },
              ].map((img) => (
                <li
                  class="flex__item roll"
                  data-grid={img.grid}
                  data-type="slideUpIn"
                >
                  <figure class="c-card p-gallery">
                    <img
                      class="c-card__image p-gallery__image"
                      src={img.src}
                      srcset={img.srcset}
                      alt=""
                      decoding="async"
                    />
                  </figure>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2023」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            {
              [
                {
                  src: "/images/img-tachineputa-2023_1.webp",
                  srcset: "/images/img-tachineputa-2023_1.webp",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa-2023_14.webp",
                  srcset: "/images/img-tachineputa-2023_14.webp",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa-2023_15.webp",
                  srcset: "/images/img-tachineputa-2023_15.webp",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa-2023_4.webp",
                  srcset: "/images/img-tachineputa-2023_4.webp",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa-2023_5.webp",
                  srcset: "/images/img-tachineputa-2023_5.webp",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa-2023_17.webp",
                  srcset: "/images/img-tachineputa-2023_17.webp",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa-2023_7.webp",
                  srcset: "/images/img-tachineputa-2023_7.webp",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa-2023_8.webp",
                  srcset: "/images/img-tachineputa-2023_8.webp",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa-2023_9.webp",
                  srcset: "/images/img-tachineputa-2023_9.webp",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa-2023_10.webp",
                  srcset: "/images/img-tachineputa-2023_10.webp",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa-2023_11.webp",
                  srcset: "/images/img-tachineputa-2023_11.webp",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa-2023_12.webp",
                  srcset: "/images/img-tachineputa-2023_12.webp",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa-2023_13.webp",
                  srcset: "/images/img-tachineputa-2023_13.webp",
                  grid: "sp4",
                },
              ].map((img) => (
                <li
                  class="flex__item roll"
                  data-grid={img.grid}
                  data-type="slideUpIn"
                >
                  <figure class="c-card p-gallery">
                    <img
                      class="c-card__image p-gallery__image"
                      src={img.src}
                      srcset={img.srcset}
                      alt=""
                      decoding="async"
                    />
                  </figure>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal" data-dir="reverse">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2022」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            {
              [
                {
                  src: "/images/img-tachineputa22_01.webp",
                  srcset: "/images/img-tachineputa22_01.webp 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa22_02.webp",
                  srcset: "/images/img-tachineputa22_02.webp 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa22_03.webp",
                  srcset: "/images/img-tachineputa22_03.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa22_04.webp",
                  srcset: "/images/img-tachineputa22_04.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa22_05.webp",
                  srcset: "/images/img-tachineputa22_05.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa22_06.webp",
                  srcset: "/images/img-tachineputa22_06.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa22_07.webp",
                  srcset: "/images/img-tachineputa22_07.webp 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa22_08.webp",
                  srcset: "/images/img-tachineputa22_08.webp 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa22_09.webp",
                  srcset: "/images/img-tachineputa22_09.webp 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa22_10.webp",
                  srcset: "/images/img-tachineputa22_10.webp 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa22_11.webp",
                  srcset: "/images/img-tachineputa22_11.webp 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa22_12.webp",
                  srcset: "/images/img-tachineputa22_12.webp 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa22_13.webp",
                  srcset: "/images/img-tachineputa22_13.webp 2x",
                  grid: "sp4",
                },
              ].map((img) => (
                <li
                  class="flex__item roll"
                  data-grid={img.grid}
                  data-type="slideUpIn"
                >
                  <figure class="c-card p-gallery">
                    <img
                      class="c-card__image p-gallery__image"
                      src={img.src}
                      srcset={img.srcset}
                      alt=""
                      decoding="async"
                    />
                  </figure>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多秋の陣」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            {
              [
                {
                  src: "/images/img-tachineputa01@2x.webp",
                  srcset: "/images/img-tachineputa01@2x.webp 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa02@2x.webp",
                  srcset: "/images/img-tachineputa02@2x.webp 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa03@2x.webp",
                  srcset: "/images/img-tachineputa03@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa04@2x.webp",
                  srcset: "/images/img-tachineputa04@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa05@2x.webp",
                  srcset: "/images/img-tachineputa05@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa06@2x.webp",
                  srcset: "/images/img-tachineputa06@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa07@2x.webp",
                  srcset: "/images/img-tachineputa07@2x.webp 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa08@2x.webp",
                  srcset: "/images/img-tachineputa08@2x.webp 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa09@2x.webp",
                  srcset: "/images/img-tachineputa09@2x.webp 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa10@2x.webp",
                  srcset: "/images/img-tachineputa10@2x.webp 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa11@2x.webp",
                  srcset: "/images/img-tachineputa11@2x.webp 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa12@2x.webp",
                  srcset: "/images/img-tachineputa12@2x.webp 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa13@2x.webp",
                  srcset: "/images/img-tachineputa13@2x.webp 2x",
                  grid: "sp4",
                },
              ].map((img) => (
                <li
                  class="flex__item roll"
                  data-grid={img.grid}
                  data-type="slideUpIn"
                >
                  <figure class="c-card p-gallery">
                    <img
                      class="c-card__image p-gallery__image"
                      src={img.src}
                      srcset={img.srcset}
                      alt=""
                      decoding="async"
                    />
                  </figure>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div class="flex" data-gutter="normal" data-dir="reverse">
        <div class="flex__item p-sticky" data-grid="sp12 lap4">
          <div class="l-spacer -area p-sticky__item">
            <p>フォトギャラリー「五所川原立佞武多2019」</p>
          </div>
        </div>
        <div class="flex__item" data-grid="sp12 lap8">
          <ul class="flex" data-gutter="normal">
            {
              [
                {
                  src: "/images/img-tachineputa14@2x.webp",
                  srcset: "/images/img-tachineputa14@2x.webp 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa15@2x.webp",
                  srcset: "/images/img-tachineputa15@2x.webp 2x",
                  grid: "sp6",
                },
                {
                  src: "/images/img-tachineputa16@2x.webp",
                  srcset: "/images/img-tachineputa16@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa17@2x.webp",
                  srcset: "/images/img-tachineputa17@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa18@2x.webp",
                  srcset: "/images/img-tachineputa18@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa19@2x.webp",
                  srcset: "/images/img-tachineputa19@2x.webp 2x",
                  grid: "sp6 tab3",
                },
                {
                  src: "/images/img-tachineputa20@2x.webp",
                  srcset: "/images/img-tachineputa20@2x.webp 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa21@2x.webp",
                  srcset: "/images/img-tachineputa21@2x.webp 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa22@2x.webp",
                  srcset: "/images/img-tachineputa22@2x.webp 2x",
                  grid: "sp6 tab4",
                },
                {
                  src: "/images/img-tachineputa23@2x.webp",
                  srcset: "/images/img-tachineputa23@2x.webp 2x",
                  grid: "sp12 tab8",
                },
                {
                  src: "/images/img-tachineputa24@2x.webp",
                  srcset: "/images/img-tachineputa24@2x.webp 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa25@2x.webp",
                  srcset: "/images/img-tachineputa25@2x.webp 2x",
                  grid: "sp4",
                },
                {
                  src: "/images/img-tachineputa26@2x.webp",
                  srcset: "/images/img-tachineputa26@2x.webp 2x",
                  grid: "sp4",
                },
              ].map((img) => (
                <li
                  class="flex__item roll"
                  data-grid={img.grid}
                  data-type="slideUpIn"
                >
                  <figure class="c-card p-gallery">
                    <img
                      class="c-card__image p-gallery__image"
                      src={img.src}
                      srcset={img.srcset}
                      alt=""
                      decoding="async"
                    />
                  </figure>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
