<section class="l-spacer -primary -bg-primary bg-gradient p-relative" id="live">
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <h2
        class="c-heading -secondary -center roll text-white"
        lang="en"
        data-type="standUpIn"
        data-duration="fast"
      >
        <span>2024年&nbsp;立佞武多&nbsp;ライブ動画</span>
      </h2>
      <div class="l-spacer -top">
        <ul class="flex" data-gutter="normal" data-align="center">
          {
            [
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/--vgtHYg0fE?si=sflx6rVcZBCUf9DQ",
                props: {
                  title: "YouTube video player",
                  frameBorder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
                  referrerPolicy: "strict-origin-when-cross-origin",
                  allowFullScreen: true,
                },
                note: "注意: 動画のダウンロード、再利用、または再配布は禁止されています",
              },
            ].map((item) => (
              <li
                class="flex__item roll"
                data-grid="lapAuto sp12"
                data-type="slideUpIn"
              >
                {item.type === "iframe" ? (
                  <>
                    <div class="responsive-iframe-wrap">
                      <iframe {...item.props} src={item.src} />
                    </div>
                    <p style="color:#FFF;">{item.note}</p>
                  </>
                ) : null}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <h2
        class="c-heading -secondary -center roll text-white"
        lang="en"
        data-type="standUpIn"
        data-duration="fast"
      >
        <span>2023年&nbsp;立佞武多&nbsp;ライブ動画</span>
      </h2>
      <div class="l-spacer -top">
        <ul class="flex" data-gutter="normal" data-align="center">
          {
            [
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/_7y41Mdatb4",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/DiZiCPE0TAs",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/aCkW77NY4os",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "video",
                src: "/movie/2023.mp4",
                props: { width: "100%", height: "100%", controls: true },
              },
            ].map((item) => (
              <li
                class="flex__item roll"
                data-grid="lapFive sp12"
                data-type="slideUpIn"
              >
                {item.type === "iframe" ? (
                  <iframe {...item.props} src={item.src} />
                ) : (
                  <video {...item.props}>
                    <source src={item.src} type="video/mp4" />
                    お使いのブラウザはvideoタグをサポートしていません。
                  </video>
                )}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="l-container">
    <div class="l-spacer -primary -top">
      <h2
        class="c-heading -secondary -center roll text-white"
        lang="en"
        data-type="standUpIn"
        data-duration="fast"
      >
        <span>2022年&nbsp;立佞武多&nbsp;ライブ動画</span>
      </h2>
      <div class="l-spacer -top">
        <ul class="flex" data-gutter="normal" data-align="center">
          {
            [
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/F31ZM08XNMk",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/lA146ElXhk0",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/Cstz7P0UgXk",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/JeGxy9WFv3A",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "iframe",
                src: "https://www.youtube.com/embed/ElCNIpb1eq8",
                props: {
                  width: "100%",
                  height: "100%",
                  title: "YouTube video player",
                  frameborder: "0",
                  allow:
                    "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
                  allowfullscreen: true,
                },
              },
              {
                type: "video",
                src: "/movie/2022.mp4",
                props: { width: "100%", height: "100%", controls: true },
              },
            ].map((item) => (
              <li
                class="flex__item roll"
                data-grid="lap2 sp12"
                data-type="slideUpIn"
              >
                {item.type === "iframe" ? (
                  <iframe {...item.props} src={item.src} />
                ) : (
                  <video {...item.props}>
                    <source src={item.src} type="video/mp4" />
                    お使いのブラウザはvideoタグをサポートしていません。
                  </video>
                )}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .responsive-iframe-wrap {
    position: relative;
    width: 100%;
    max-width: 960px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    background: #000;
  }
  .responsive-iframe-wrap iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 0;
    max-width: 960px;
    max-height: 540px;
    display: block;
  }
</style>
